@font-face {
    font-family: 'Mont-Regular'; 
    src: url('../assets/Fonts/MONT-REGULAR.OTF') format('opentype');
    font-weight: 1000;
    font-style: normal;
  }

  @font-face {
    font-family: 'Mont-Bold'; 
    src: url('../assets/Fonts/MONT-BOLD.OTF') format('opentype');
    font-weight: 1000;
    font-style: normal;
  }

  @font-face {
    font-family: 'Mont-SemiBold'; 
    src: url('../assets/Fonts/MONT-SEMIBOLD.OTF') format('opentype');
    font-weight: 1000;
    font-style: normal;
  }

.page3 {
    background-color: black;
    width: 100%;
    height: fit-content;
    padding-top: 3%;
}

.button-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10%;
  }
  
  .custom-button {
    background-color: #322c3f; 
    border: 2px solid #1577ac;
    color: #e8e8e8; 
    border-radius: 50px; 
    padding: 5px 10px;
    font-family: 'Mont-Regular';
    cursor: pointer;
    outline: none;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .custom-button:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px #0078ff; /* Glow effect */
  }
  
  .custom-button:active {
    transform: scale(0.95); 
    box-shadow: 0 0 5px #0078ff;/* Shrink slightly on click */
  }

  .news-updates {
    font-family: 'Mont-Bold';
    color: #e8e8e8;
    text-align: center;
  }

  .date-line,
  .p-content {
    color: #e8e8e8;
    font-family: 'Mont-Regular';
  }

  .p-content {
    font-size: 0.75em;
  }

  .heading {
    color: #e8e8e8;
    font-family: 'Mont-Bold';
  }

  .ht-1 {
    color: #d2a95a;
    font-family: 'Mont-SemiBold';
  }
  .ht-2 {
    color: #4A88F9;
    font-family: 'Mont-SemiBold';
  }
  .ht-3 {
    color: #6214C5;
    font-family: 'Mont-SemiBold';
  }

.post1, .post3 {
  animation: brightnessAnimation 1s infinite alternate;
  }

  @keyframes brightnessAnimation {
    0% { filter: brightness(1); }
    /* 50% { filter: brightness(1.5) } */
    100% { filter: brightness(1.5); }
  }

  .glass {
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      mask-position: 50% 50%;
      transition: mask-size .75s;
      transition-property: mask-size, background-position;
    }
  }
  
  .glass--1 {
    &,
    &:after,
    &:before {
      /* background: url(https://source.unsplash.com/random/800x800?spring); */
      /* background-size: 110% 110%; */
    }
    
    &:after,
    &:before {
      mask-image: linear-gradient(to right bottom, white 51%, rgba(0,0,0,0) 0);
      mask-size: var(--tile) var(--tile);
      mask-position: 50% 50%;
    }
    
    &:after {
      background-position: -.5vw -.5vw;
      mask-image: linear-gradient(to left top, white 51%, rgba(0,0,0,0) 0);
    }
    
    &:hover:before,
    &:hover:after {
      --tile: 100px;
      mask-size: calc(var(--tile) * .45) calc(var(--tile) * 1.5) ;
    }
    &:hover:after {
      background-position: -1vw -1vw;
    }
  }