.page1 {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.ed-logo {
    position: absolute;
    left: 4.87%;
    top: 1.76%;
    width: auto;
    height: 6.48%;
}

.ed-name {
    position: absolute;
    left: 3.49%;
    top: 9.07%;
    width: auto;
    height: 1.39%;
}

.facebook {
    position: absolute;
    left: 73.39%;
    top: 3.15%;
    width: auto;
    height: 5.46%;
}
.facebook:hover { transform: scale(1.25); }
.facebook:active { filter: brightness(1.6); }

.twitter {
    position: absolute;
    left: 78%;
    top: 3.15%;
    width: auto;
    height: 5.46%;
}
.twitter:hover { transform: scale(1.25); }
.twitter:active { filter: brightness(1.6); }

.youtube {
    position: absolute;
    left: 82.67%;
    top: 3.15%;
    width: auto;
    height: 5.46%;
}
.youtube:hover { transform: scale(1.25); }
.youtube:active { filter: brightness(1.6); }

.instagram {
    position: absolute;
    left: 87.35%;
    top: 3.15%;
    width: auto;
    height: 5.46%;
}
.instagram:hover { transform: scale(1.25); }
.instagram:active { filter: brightness(1.6); }

.discord {
    position: absolute;
    left: 91.90%;
    top: 3.15%;
    width: auto;
    height: 5.46%;
} 
.discord:hover { transform: scale(1.25); }
.discord:active { filter: brightness(1.6); }

.rr-icon {
    position: absolute;
    left: 18.64%;
    top: 4.54%;
    width: auto;
    height: 17.96%;
    z-index: 1;
}

.wrapper {
    position: relative;
    flex-direction: column;
    top: 11%;
    /* background-color: black; */
    width: 100%;
    height: 90%;
    /* background-image: url('../assets/page1/MoviePlacement@.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video scales correctly */
    z-index: 0; /* Places video behind other elements */
}

.animation {
    /* position: absolute; */
    width: auto;
    height: 63.61%;
    top: 10.83%;
    z-index: 0;
}

.rr-title {
    /* position: absolute; */
    top: 11.39%;
    width: 61.33%;
    height: auto;
    z-index: 1;
}

.tour-extreme {
    /* position: absolute; */
    top: 41.39%;
    width: 29.58%;
    height: auto;
    z-index: 1;
}

.bottom-section {
    position: relative;
    background-color: black;
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    height: 30%;
}

.page1-dynamic-text {
    position: absolute;
    top: 10%;
    font-family: 'Mont-SemiBold';
    font-size: 2.5em;
    color: #e8e8e8;
}

.appstore {
    position: absolute;
    left: 31%;
    top: 47%;
    width: 16%;
    height: auto;
}

.playstore {
    position: absolute;
    left: 51%;
    top: 47%;
    width: 16%;
    height: auto;
}



